:root {
  --brand-pink: #3560a8;
  --brand-purple: #1a335c;
  --brand-violet: #3560a8;
  --brand-cyan: #cc0000;
  --brand-blue-faded: #3560a87a;

  --brand-black: #222222;
  --brand-dark-black: #040d1c;
  --font-color-text: var(--brand-grey);
  --font-color-heading: var(--brand-black);

  --color-primary: var(--brand-cyan);
  --color-primary-darker: #305697;
  --color-secondary: var(--brand-grey);

  --border-color-menu: var(--brand-dark-black);
  --border-radius-menu: 2px;

  --menu-background: rgba(17, 17, 17, 0.8);
  --menu-background-hover: #111;
  --search-background: #b41815;
  --search-background-hover: #861210;
  --footer-background: var(--brand-grey-primary);
  --footer-font-color: #d7d7d7;

  --pagination-box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 20%);

  --background-highlight: #fcfcfc;
  --border-color: #e1e1e1;

  --brand-gradient: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--brand-pink)
  );
  --gradient-pink-violet: linear-gradient(
    to right bottom,
    var(--brand-pink),
    var(--brand-violet)
  );
  --gradient-violet-purple: linear-gradient(
    to right bottom,
    var(--brand-violet),
    var(--brand-purple)
  );

  --gradient-purple-cyan: linear-gradient(
    to right top,
    var(--brand-purple),
    var(--brand-cyan)
  );

  --brand-grey-darker: #0f183f;
  --brand-grey-dark: #0c1b5a;
  --brand-grey: #666666;
  --brand-grey-light: #919191;
  --brand-grey-lighter: #d4d4e2;
  --brand-grey-dimmed: #f1f3f8;

  --brand-grey-primary: #9d9d9d;
  --brand-grey-secondary: #e8e6e1;

  --font-weight-base: 400;
}
