.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
  padding-left: 0;
  font-size: var(--font-size-small);
}

.number {
  font-weight: var(--font-weight-normal);
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 2);
  margin-left: -1px;
  margin-top: -1px;
  display: block;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brand-grey-light);
  box-shadow: var(--pagination-box-shadow);
  background-color: var(--background-highlight);
  border-radius: 50%;
}

.number,
.number:hover,
.number:focus,
.number:active {
  transform: none;
  outline: 0;
}

.number:hover {
  background-color: var(--brand-grey);
  color: var(--brand-white);
}

.current,
.break {
  composes: number;
}

.current {
  cursor: default;
  pointer-events: none;
}

.current,
.current:hover,
.current:focus,
.current:active {
  color: var(--font-color-heading);
  font-weight: var(--font-weight-bold);
}

.prev,
.next {
  display: block;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  color: var(--brand-grey-light);
  box-shadow: var(--pagination-box-shadow);
  background-color: var(--background-highlight);
  border-radius: 50%;
}

.next {
  text-align: right;
}

.prevNextDisabled {
  opacity: 0;
}

.arrow {
  width: 1rem;
  height: 100%;
}

.prev:hover,
.next:hover {
  background-color: var(--brand-grey);
}

.prev:hover .arrow path,
.next:hover .arrow path {
  fill: var(--brand-white);
}

.arrow path {
  fill: var(--brand-grey-light);
}

.arrow.previous {
  transform: rotate(180deg);
}
