.button {
  position: relative;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  border: none;
  padding: calc(var(--spacer) / 6) calc(var(--spacer) / 3);
  white-space: nowrap;
  background: var(--background-content);
  margin: 0 calc(var(--spacer) / 6);
  transition: border 0.2s ease-out;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.button,
.address {
  color: var(--brand-white);
  background-color: inherit;
  z-index: 1;
}

.button.initial {
  color: var(--brand-white);
  background-color: var(--color-primary);
}

.button:hover,
.button:focus,
.button:hover .address,
.button:focus .address {
  background-color: var(--menu-background-hover);
}

@media screen and (min-width: 45rem) {
  .button.initial span {
    display: inline;
  }
}

.address {
  display: none;
  text-transform: none;
  padding-left: calc(var(--spacer) / 8);
}

@media screen and (min-width: 45rem) {
  .address {
    display: inline-block;
  }

  .blockies {
    margin-right: calc(var(--spacer) / 6);
  }
}

.button svg {
  width: 1em;
  height: 1em;
  fill: var(--border-color);
  display: inline-block;
  vertical-align: middle;
  margin-left: calc(var(--spacer) / 4);
  transition: transform 0.2s ease-out;
}

[aria-expanded='true'] .button svg {
  transform: rotate(180deg);
}

.status {
  margin-left: calc(var(--spacer) / 4);
  position: relative;
  top: 1px;
}

.caret,
svg.caret {
  display: none;
}

@media screen and (min-width: 30rem) {
  .caret,
  svg.caret {
    display: inline-block;
    fill: var(--brand-white);
  }
}
