.network {
  padding: calc(var(--spacer) / 6) calc(var(--spacer) / 3);
  white-space: nowrap;
  margin-right: -3px;
  display: inline-flex;
  align-items: center;
}

.name {
  font-size: var(--font-size-small);
  color: var(--brand-white);
}

.badge {
  margin-left: calc(var(--spacer) / 8);
  background-color: var(--brand-white);
  color: var(--color-primary);
}

.warning {
  margin-right: calc(var(--spacer) / 4);
}

.network:hover {
  background-color: var(--menu-background-hover);
}
